/* Hide scrollbar for Chrome, Safari, and Opera */
.transcript-textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.transcript-textarea {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Page styles */
.page3-container {
  text-align: center;
  font-family: "Righteous", 'Times New Roman', Times, serif;
  font-weight: 1000;
  font-size: 50px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  min-height: 100vh;
  background-image: linear-gradient(180deg, #070F2B, #183391);
  color: #f9f9f9;
  padding: 20px;
}

.page3-subheading {
  font-size: 20px;
  color: white;
}

.recap-text {
  text-align: left;
  font-size: 25px; /* Adjust the font size as needed */
  color: rgb(197, 159, 224); /* Set the text color to white */
}

.notes-input {
  margin-top: -10px;
}

.page3-title {
  text-align: center;
  font-size: 50px;
  color: #b88edf;
  margin-bottom: 20px;
}

.feedback-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.notes-box {
  border-radius: 25px;
  background-color: rgba(146, 144, 195, 0.6);
  padding: 20px; /* Reduced padding to fit better within the container */
  margin-bottom: 20px;
  color: white; /* Set the text color to white */
  text-align: left; /* Left align the text */
  font-size: 16px; /* Set the font size to small */
  max-height: 300px; /* Set a maximum height for the box */
  overflow: hidden; /* Hide the scrollbar */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

.note-feedbacks {
  list-style-type: none;
  border-radius: 25px;
  background-color: rgba(146, 144, 195, 0.6);
  padding: 20px;
  margin-bottom: 40px;
  color: white; /* Set the text color to white */
  text-align: left; /* Left align the text */
  font-size: 14px; /* Set the font size to small */
  max-height: 200px; /* Set a maximum height for the feedback list */
  overflow: hidden; /* Hide the scrollbar */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

.scroll-container {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 20px; /* Add padding to account for the scrollbar */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.note-feedbacks li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  width: 100%; /* Ensure the list item takes full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.note-feedbacks li:last-child {
  margin-bottom: 0;
}

.note-feedbacks li p {
  margin: 0;
  text-align: left;
  font-size: 14px; /* Set the font size to small */
  color: white; /* Set the text color to white */
  width: 100%; /* Ensure the paragraph takes full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */

}

.transcript-button {
  background-color: rgba(146, 144, 195, 0.6);
  color: white;
  padding: 10px 20px;
  margin: 20px  auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Make the button a block element to center it with margin auto */
  width: auto; /* Set the width to auto so it does not span the entire screen */
}

.transcript-button:hover {
  background-color: rgb(197, 159, 224);
}

.transcript-box {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: hidden; /* Ensure no visible vertical scrollbar */
  overflow-x:  hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(146, 144, 195, 0.6);
  padding: 10px;
}

.transcript-textarea {
  width: 100%;
  height: 200px;
  border: none;
  background: none;
  color: white;
  resize: none;
  outline: none;
}
