.page3-container {
  text-align: center;
  font-family: "Righteous", 'Times New Roman', Times, serif;
  font-weight: 1000;
  font-size: 50px;
  font-style: normal;
}

.page3-subheading {
  font-size: 20px;
  color: white;
}
.recap-text {
  text-align: left;
  font-size: 25px; /* Adjust the font size as needed */
  color: rgb(197, 159, 224); /* Set the text color to white */
}

.notes-input {
  margin-top: -10px;
}

.page3-title {
  text-align: center;
  font-size: 50px;
  color: #b88edf;
  margin-bottom: 20px;
}

.feedback-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.page3-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  min-height: 100vh;
  background-image: linear-gradient(180deg, #070F2B, #183391);
  color: #ba55d3;
  padding: 20px;
}

.notes-box {
  border-radius: 25px;
  background-color: rgba(146, 144, 195, 0.6);
  padding: 150px 500px;
  margin-bottom: 1px;
}

.note-feedbacks {
  list-style-type: none;
  border-radius: 25px;
  background-color: rgba(146, 144, 195, 0.6);
  padding: 50px 500px;
  margin-bottom: 40px;
}


.note-feedbacks li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-feedbacks li:last-child {
  margin-bottom: 0;
}

.note-feedbacks li p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
