h1{
    text-align: center;
    font-family: "Righteous", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #070F2B, #183391);
    color: #ba55d3;
    padding: 20px;
  }

  ul {
    color: #ba55d3;
    list-style-type: none;
    padding: 0;
  }

